{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}



{{!-- Everything inside the #post block pulls data from the post --}}
<main id="site-main" class="site-main outer">
    
    <!-- get the list of posts -->
    {{#get "posts" filter = "tag:hash-jp" limit='6'}}
    <div class="inner posts">
        <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>
    </div>
    {{/get}}

<div class="myBTNdiv">
  <a href="https://www.eastasiaecon.com" class="myButton">Article achive</a> 
</div>

</style>
<h2 class="post-title" style="font-weight: bold">Charts</h2>   

</div>
<h3 class="post-title" style="font-weight: bold">Consumer</h3>                     
</div>
<div id="jp_consumer">
</div> 

<h3 class="post-title" style="font-weight: bold">Exports</h3>                     
</div>
<div id="jp_exports">
</div>
 
<h3 class="post-title" style="font-weight: bold">Industry</h3>                     
</div>
<div id="jp_industry">
</div>

<h3 class="post-title" style="font-weight: bold">Labour</h3>                     
</div>
<div id="jp_labour">
</div>

<h3 class="post-title" style="font-weight: bold">Macro</h3>                     
</div>
<div id="jp_macro">
</div>

<h3 class="post-title" style="font-weight: bold">Money</h3>                     
</div>
<div id="jp_money">
</div>
 
<h3 class="post-title" style="font-weight: bold">Prices</h3>                     
</div>
<div id="jp_prices">
</div>
</div>

       {{#page}}
        <article class="post-full {{post_class}} no-image">

            <section class="post-full-content">
                <div class="post-content">
                    {{content}}
                </div>   
            
            </section>

        </article>

                {{/page}}





    
</main>